<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        >
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../script.js"></script>
        <script type="text/javascript">
            alert("This alert box was called with the onload event");
        </script>
    </head>

    <body>
        <header>
            <!-- Background image -->
            <div
                class="p-5 text-center bg-image"
                id="intro"
            >
                <div
                    class="mask"
                    style="background-color: rgba(0, 0, 0, 0.096);"
                >
                    <div
                        class="d-flex justify-content-left align-items-left h-100"
                        id="introHeading"
                    >
                        <div
                            class="text-black"
                            id="text1"
                        >
                            <h1
                                class="mb-3"
                                id="text1"
                            >
                                BUILDING SMART
                            </h1>
                            <h1
                                class="mb-3"
                                id="text1"
                            >
                                AFRICAN CITIES
                            </h1>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Background image -->
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                <div class="container-fluid">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarExample01"
                        aria-controls="navbarExample01"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <i class="fas fa-bars"></i>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarExample01"
                    >
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                            <li class="nav-item active">
                                <a
                                    class="nav-link"
                                    aria-current="page"
                                    href="#"
                                >
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="#"
                                >
                                    ABOUT US
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="#"
                                >
                                    CAPABILITIES
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="#"
                                >
                                    CONTACTS
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar -->
        </header>

        <Section>

            <div class="container">
                <div
                    class="heading02"
                    id="heading02"
                >
                    <h1
                        class="heading02"
                        style="color:#17a0ce;"
                        id="heading02"
                    >
                        WHY US
                    </h1>
                </div>
                <div
                    class="row justify-content-md-center"
                    id="Section02"
                >
                    <div
                        class="col-lg-4 col-md-12 col-sm-12"
                        id="Section02"
                    >
                        <div class="bg-image hover-overlay hover-zoom ripple">
                            <img
                                src="../assets/1-Final.jpg"
                                class="img-fluid"
                                id="section02img"
                            >
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(57, 192, 237, 0.2);"
                                ></div>
                                <h3 id="section02text">
                                    We are
                                    <br>
                                    passionate
                                </h3>
                                <!-- <p class="section02paragraph">
                Each and every member have their own responsibilities. They play their role for the welfare of the team
              </p> -->
                            </a>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 col-md-12 col-sm-12"
                        id="Section02"
                    >
                        <div class="bg-image hover-overlay hover-zoom ripple">
                            <img
                                src="../assets/asset-2.jpg"
                                class="img-fluid"
                                id="section02img"
                            >
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(57, 192, 237, 0.2);"
                                ></div>
                                <h3 id="section02text">
                                    Build your vision
                                    <br>
                                    from the ground up
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="row justify-content-md-center"
                    id="Section02"
                >
                    <div
                        class="col-lg-4 col-md-12 col-sm-12"
                        id="Section02"
                    >
                        <div class="bg-image hover-overlay hover-zoom ripple">
                            <img
                                src="../assets/asset-1.jpg"
                                class="img-fluid"
                                id="section02img"
                            >
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(57, 192, 237, 0.2);"
                                ></div>
                                <h3 id="section02text">
                                    Unsure of the
                                    <br>
                                    technical journey?
                                </h3>

                            </a>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 col-md-12 col-sm-12"
                        id="Section02"
                    >
                        <div class="bg-image hover-overlay hover-zoom ripple">
                            <img
                                src="../assets/3 BW.jpg"
                                class="img-fluid"
                                id="section02img"
                            >
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(57, 192, 237, 0.2);"
                                ></div>
                                <h3 id="section02text">
                                    Our business never
                                    <br>
                                    “sleeps.”
                                </h3>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div class="container">
                <div class="row blog">
                    <div class="col-md-12">
                        <div
                            id="blogCarousel"
                            class="carousel slide"
                            data-ride="carousel"
                        >

                            <ol class="carousel-indicators">
                                <li
                                    data-target="#blogCarousel"
                                    data-slide-to="0"
                                    class="active"
                                ></li>
                                <li
                                    data-target="#blogCarousel"
                                    data-slide-to="1"
                                ></li>
                            </ol> -->

            <!-- Carousel items -->
            <!-- <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img
                                                    src="../assets/Janelle.jpg"
                                                    alt="Image"
                                                    style="max-width:100%;"
                                                >
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img
                                                    src="../assets/Auntie Mo Mo.jpg"
                                                    alt="Image"
                                                    style="max-width:100%;"
                                                >
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img
                                                    src="../assets/046-Viktor-Miller-Gausa.jpg"
                                                    alt="Image"
                                                    style="max-width:100%;"
                                                >
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img
                                                    src="../assets/Josh.jpg"
                                                    alt="Image"
                                                    style="max-width:100%;"
                                                >
                                            </a>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div> -->

            <div class="containers">
                <div class="row blog">
                    <h1
                        class="heading02"
                        id="heading02"
                    >
                        LET'S GET FAMILIAR
                    </h1>
                    <h2
                        class="heading04s"
                        id="heading04"
                    >
                        MEET THE TEAM
                    </h2>
                    <div class="col-md-12">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <owl-carousel-o [options]="customOptions">
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/Janelle.jpg"
                                                    alt="img 1"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Project Manager</h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;"
                                                >
                                                    EL
                                                    <b>JANELLE</b>
                                                </h2>
                                                <h2
                                                    class="section03Text"
                                                    style="font-weight: 300;"
                                                >
                                                    Hi There!!
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/Auntie Mo Mo.jpg"
                                                    alt="img 2"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Project Manager</h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;"
                                                >
                                                    AUNTIE
                                                    <b>MO MO</b>
                                                </h2>
                                                <h2
                                                    class="section03Text"
                                                    style="font-weight: 300;"
                                                >
                                                    oooooo child!!
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    style="background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));"
                                                    src="../assets/046-Viktor-Miller-Gausa.jpg"
                                                    alt="img 3"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Software Tester</h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;"
                                                >
                                                    NAY-
                                                    <b>THAN</b>
                                                </h2>
                                                <h2
                                                    class="section03Text"
                                                    style="font-weight: 300;"
                                                >
                                                    "Stay fit, eat healthy"
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/Josh.jpg"
                                                    alt="img 4"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Software developer</h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;"
                                                >
                                                    JOSHUA-
                                                    <b>DOOR</b>
                                                </h2>
                                                <h2
                                                    class="section03Text"
                                                    style="font-weight: 300;"
                                                >
                                                    "Come Duze"
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/Janelle.jpg"
                                                    alt="img 5"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Software web developer</h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;"
                                                >
                                                    EL
                                                    <b>JANELLE</b>
                                                </h2>
                                                <h2
                                                    class="section03Text"
                                                    style="font-weight: 300;"
                                                >
                                                    Hi There!!
                                                </h2>
                                            </div>
                                        </ng-template>
                                        <ng-template carouselSlide>
                                            <div class="col-md-12">
                                                <img
                                                    class="slideImg"
                                                    src="../assets/Auntie Mo Mo.jpg"
                                                    alt="img 6"
                                                >
                                                <div>
                                                    <h2 class="section04Text">Snr developer</h2>
                                                </div>
                                                <h2
                                                    class="section03Text"
                                                    style="color:#17a0ce; font-weight: 300;"
                                                >
                                                    AUNTIE
                                                    <b>MO MO</b>
                                                </h2>
                                                <h2
                                                    class="section03Text"
                                                    style="font-weight: 300;"
                                                >
                                                    oooooo child!!
                                                </h2>
                                            </div>
                                        </ng-template>
                                    </owl-carousel-o>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <!-- Default form contact -->
                <div>
                  <p class="h1 mb-4" id="heading05"style="text-align: center;">CONTACT US</p>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div >
                      <h1 class="tw"></h1>
                      <h2>Send us an email (by making use of the message prompt provided), give us a call OR drop by our office anytime,
                        we will be happy to answer your questions.</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <form class="rounded-pill " id="form1">
                      <!-- Name -->
                      <input
                          type="text"
                          id="defaultContactFormName"
                          class="text-primary form-control form-control-lg rounded-pill"
                          placeholder="Name"
                          rounded="true"
                      >

                      <!-- Email -->
                      <input
                          type="email"
                          id="defaultContactFormEmail"
                          class="form-control form-control-lg rounded-pill"
                          placeholder="E-mail"
                      >

                        <!-- Subject -->
                        <select class="browser-default form-control-lg  custom-select mb-4 rounded-pill">
                          <option value="">Choose option</option>
                          <option value="1" selected>Feedback</option>
                          <option value="2">Report a bug</option>
                          <option value="3">Feature request</option>
                          <option value="4">Feature request</option>
                        </select>
                      <!-- Message -->
                      <div class="form-group">
                          <textarea
                              class="form-control form-control-lg rounded-3"
                              id="exampleFormControlTextarea2"
                              rows="3"
                              placeholder="Message"
                          ></textarea>
                      </div>

                      <!-- Send button -->
                      <button type="submit" class="btn btn-primary">Submit</button>

                  </form>
                  </div>
                </div>

                <!-- Default form contact -->
            </div>
            <div>

            </div>

        </Section>
        <!-- <section class="partners">
            <div class="container">
              <h1>
                Angular 11 Owl Carousel Integration Tutorial - Tutsmake.com
            </h1>

            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let slide of slides">
                    <ng-template
                        carouselSlide
                        [id]="slide.id"
                    >
                        <img class="slideImg" [src]="slide.img">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>

            </div>
        </section> -->
        <footer class="page-footer font-small cyan darken-3">

          <!-- Footer Elements -->
          <div class="container">
                <div class="sectionfooter">
                  <h1 style="color: white;" id="heading06">NEED FURTHER CONVINCING?</h1>
                  <h3 style="color: white;" id="heading07">COOL, CHECK US OUT ON OUR SOCIALS VIA LINKS BELOW.</h3>
                </div>
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                      <p><a href="#" class="stretched-link">PRIVACY STATEMENT</a></p>
                    </div>
                    <div class="col-md-auto">
                    <i> <img href="#"
                      class="icons"
                      src="../assets/SVG/Facebook.svg"
                      alt="icon 1"
                  ></i>
                  <i> <img
                    class="icons"
                    src="../assets/SVG/Twitter.svg"
                    alt="icon 1"
                ></i>
                <i> <img
                  class="icons"
                  src="../assets/SVG/Instagram.svg"
                  alt="icon 1"
              ></i>
                    </div>
                    <div class="col-md-auto">
                      <p><a href="#" class="stretched-link">TERMS & CONDITIONS</a></p>
                    </div>

                  </div>
                  </div>


          <!-- Copyright -->
          <div class="footer-copyright text-right py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"><img
                  class="icons"
                  src="../assets/Instagram.jpg"
                  alt="icon 1"
              ></a>
          </div>
          <!-- Copyright -->
          </div>

        </footer>

    </body>
</html>
